.rider-main-selected-store-container {
    position : absolute;
    top: 300px;
    left: 1300px;
    z-index : 1;

    font-size: 12px;
    width: 400px;
    background-color: #d3b88c;
    border-radius: 20px;
    padding: 10px 40px 10px 40px;

    list-style-type : none;
}

.rider-main-selected-store-container-store-name {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.rider-main-selected-store-container-store-address {
    font-size : 16px;
    text-align: center;
    padding : 5px;
}

.rider-main-selected-store-li-div {
    margin : 0;
    padding : 0 5px 0 5px;
}


.rider-main-selected-store-li-delivery-number {
    font-size : 16px;
    font-weight: bold;
}

.rider-main-selected-store-li-delivery-address {
    padding-left : 5px;
    color: #C8C8C8;
}