.rider_income_container {
    display: block;
    text-align: center;
}

.rider_income_total_container {
    width : 500px;
    height : 150px;
    border-radius : 50px;
    border : black solid 1px;

}