.rider-main-selected-store-container {
    position : absolute;
    top: 50%;
    left: 1070px;
    z-index : 1;

    font-size: 12px;
    width: 400px;
    background-color: #d3b88c;
    border-radius: 20px;
    padding: 10px 40px 10px 40px;

    list-style-type : none;
}

.rider-main-selected-store-container-store-name {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.rider-main-selected-store-container-store-address {
    padding-left: 10px;
}


.rider-main-selected-store-li-delivery-title {
    font-weight: bold;
}

.rider-main-selected-store-li-delivery-address {
    color: #C8C8C8;
}