.untaken_order_detail_container {
    background-color: black;
    color:white;
    border-radius: 20px 20px 0px 0px;
}

.riderOrderStatus-container {
    margin : 0 40px;

}



.progress-elements {
    display: flex;
    justify-content: space-between;
}

