.user-cart-container {
    width: 100%;
    background-color: #F4EDDF;
    padding: 30px;
    border-radius: 30px;
    margin-bottom: 30px;
    position: relative;
    min-height: 160px;
}

.user-cart-bordtext {
    font-size: 20px;
    margin-bottom: 30px;
    color: #5A3D21;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.user-cart-pricetext {
    font-size: 20px;
    color: #5A3D21;
    font-weight: bold;
}

.user-cart-bic-pricetext {
    font-size: 23px;
    color: #5A3D21;
    font-weight: bold;
}

.user-title{
    font-size: 33px;
    font-weight: bold;
    color: #5A3D21;
}

.user-title-center {
    font-size: 33px;
    font-weight: bold;
    color: #5A3D21;
    text-align: center;
}

.user-cart-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.user-cart-container .user-cart-detailtext {
    font-size: 16px;
    color: #5A3D21;
    position: absolute;
    padding-bottom: 30px;
}

.user-cart-container .user-cart-remove {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #555;
    margin: 0 10px 30px 0;
}

.user-cart-container .user-cart-remove:hover {
    content: url("../images/user/orderCartDeleteBtnHover.svg");
}

.user-cart-remove {
    border: none;
    background: none;
}
