.user-cart-container {
    width: 100%;
    background-color: #F4EDDF;
    padding: 30px;
    border-radius: 30px;
    margin-top: 30px;
    position: relative;
    min-height: 160px;

}

.user-cart-bordtext {
    font-size: 20px;
    margin-bottom: 30px;
    color: #5A3D21;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.user-cart-pricetext {
    font-size: 20px;
    color: #5A3D21;
    font-weight: bold;
}

.user-select-mid-text {
    font-size: 17px;
    color: #5A3D21;
    font-weight: bold;
    text-align: left;
}

.user-cart-big-pricetext {
    font-size: 23px;
    color: #5A3D21;
    font-weight: bold;
}

.user-title{
    font-size: 33px;
    font-weight: bold;
    color: #5A3D21;
    text-align: center;
}

.user-title-l{
    font-size: 33px;
    font-weight: bold;
    color: #5A3D21;
}

.user-title-center {
    font-size: 32px;
    font-weight: bold;
    color: #5A3D21;
    text-align: center;
    letter-spacing: -1.9px;
}

.user-cart-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-cart-detailtext {
    font-size: 16px;
    color: #5A3D21;
    text-align: left;
}

.user-cart-remove {
    background: none;
    border: none;
    cursor: pointer;
    padding: 2px;
}

.user-cart-remove img:hover {
    content: url("../assert/images/user/orderCartDeleteBtnHoverMini.svg");
}

.user-cart-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-cart-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-cart-quantity-line {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #5A3D21;
    border-radius: 30px;
    height: 35px;
    padding: 5px 10px;
    width: 100px;
    margin-top: 30px;
}

.user-cart-quantity-btn {
    border: none;
    background-color: transparent;
    color: #5A3D21;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0 4px 5px 4px;
    width: auto;
}

.user-cart-quantity-btn:hover {
    color: #D2B595;
}

.user-cart-quantity-btn img:hover {
    cursor: pointer;
    border: none;
    background: none;
}

.user-cart-quantity-text {
    font-size: 16px;
    margin: 0 5px;
    color: #5A3D21;
    font-weight: bold;
}

.user-select-menu-container {
    position: relative;
    min-height: 80px;
}

.user-select-options {
    display: flex;
    justify-content: space-between;
    align-items: end;
    text-align: left;
}
