/******************************************선택탭***********************************************/
.tab-container {
    display: flex;
    width: 600px;
    justify-content: space-between;
    background-color: #D9B892; /* 제공된 색상 */
    border-radius: 8px;
    overflow: hidden;
}

.tab-button {
    flex: 1;
    padding: 10px 20px;
    text-align: center;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.tab-button.active {
    background-color: #B09072; /* 선택된 버튼 색상 */
    color: white;
}

/******************************************주문정보카드***********************************************/

.order-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f5f5f5;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.order-info {
    display: flex;
    gap: 10px;
    font-weight: bold;
    font-size: 16px;
}

.order-details {
    flex: 1;
    font-size: 14px;
    color: #333;
    margin-left: 15px;
}

.order-actions {
    display: flex;
    align-items: center;
    gap: 10px; /* 버튼 간격 조절 */
    justify-content: flex-end; /* 오른쪽 정렬 */
}

.storeOrder-accept-btn {
    background: #FFD700;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.storeOrder-complete-btn {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.storeOrder-finished-btn {
    background: #6495ED;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.detail-btn {
    background: #ddd;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
}
