/* 기본 구조 */
.wrap {margin:50px auto;}

/* 가로 스크롤 적용 */

.scroll__wrap {overflow-x:auto; overflow-y: hidden;  white-space:nowrap; font-size:0}
.scrollElement {display:inline-block; width:150px; height:50px; border:2px solid #222; background:#fff; font-size:16px; line-height:150px; text-align:center;}
.scrollElement + .scrollElement {margin-left:15px;}

/*스크롤바 없애기*/
.scroll__wrap{
    -ms-overflow-style: none;       /* 인터넷 익스플로러 */
    scrollbar-width: none;          /* 파이어폭스 */
}
.scroll__wrap::-webkit-scrollbar{   /* 크롬, 사파리, 오페라, 엣지 */
    display: none;
}

