.rider-header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.rider-header-wrapper .rider-header {
    background-color: #99D6F0;
    border-bottom: 1px solid #4682B4;
    padding: 20px 16px;
    min-height: 120px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1050;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rider-header-wrapper .rider-header-container {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    width: 100%;
}

.rider-header-wrapper .header-left-icons {
    display: flex;
    align-items: center;
}

.rider-header-wrapper .header-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.rider-header-wrapper .center-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.rider-header-wrapper .center-logo img {
    width: 100px;
    height: auto;
}

.rider-header-wrapper .left-icons {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 10px;
    left: 16px;
}

.rider-header-wrapper .rider-menu-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 10px;
    right: 16px;
}


.rider-header-wrapper .rider-side-nav {
    position: absolute;
    top: 0;
    left: 600px;
    width: 260px;
    background-color: #E3F2FD;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 15px;
    opacity: 1;
    z-index: 3000;
    transition: right 0.3s ease-in-out;
    display: none;
}

.rider-header-wrapper .rider-side-nav.open {
    display: block;
    right: 0;
}


.rider-header-wrapper .rider-info {
    background-color: #D9ECFF;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    color: #2F4F4F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #90CAF9;
}

.rider-header-wrapper .rider-name-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
    flex-grow: 1;
}

.rider-header-wrapper .rider-name {
    font-size: 18px;
    font-weight: bold;
    color: #2C3E50;
}

.rider-header-wrapper .rider-role {
    font-size: 14px;
    font-weight: normal;
    color: #2C3E50;
}

.rider-header-wrapper .rider-stars {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 14px;
    color: #FFA500;
}

.rider-header-wrapper .rider-status-btn {
    background-color: #FFD700;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    white-space: nowrap;
}

.rider-unstatus-btn {
    background-color: grey;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    white-space: nowrap;
}

.rider-header-wrapper .rider-status-btn:hover {
    background-color: #FFC107;
}

.rider-header-wrapper .rider-nav-menu {
    padding: 0;
    list-style: none;
    text-align: left;
}

.rider-header-wrapper .rider-nav-menu li {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
}

.rider-header-wrapper .rider-nav-menu li a {
    text-decoration: none;
    color: #3a2d22;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: bold;
}

.rider-header-wrapper .rider-nav-logout-btn {
    background-color: #90CAF9;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
    margin: 0;
    text-align: center;
}

.rider-header-wrapper .rider-nav-logout-btn:hover {
    background-color: #64B5F6;
}

.AlarmNotificationContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.AlarmDropdown .NoAlarmNotificationItem {
    text-align: center;
}

.AlarmNotificationItem:hover {
    cursor: pointer;
}

.AlarmDropdown .AlarmLink {
    text-decoration: none;
}


.AlarmBadge {
    position: absolute;
    top: -1px;
    right: +3px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 10px;
    font-weight: bold;
}

.AlarmDropdown {
    position: absolute;
    top: 30px;
    right: 0;
    width: 250px;
    background: #E2F2FA;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    z-index: 9999;
}

.AlarmNotificationItem {
    border: 1px solid #010C22;
    border-radius : 3%;
    margin-top : 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding : 10px;
    background-color :#FCFBF7;
    color: #010C22;
}

.MarkAllAsReadBtn {
        background-color: #F4EDDF;
    color: black;
}

@media (max-width: 768px) {
    .rider-header-wrapper .rider-header {
        width: 100%;
        max-width: 1000px;
    }

    .rider-header-wrapper .rider-side-nav {
        position: fixed;
        top: 120px;
        left: -0px;
        width: 100%;
        opacity: 0.95;
        transition: right 0.3s ease-in-out;
    }

    .rider-header-wrapper .rider-side-nav.open {
        right: 0;
    }

    .rider-header-wrapper .rider-side-nav-content {
        background-color: white;
        border-radius: 8px;
    }

    .rider-header-wrapper .rider-nav-menu {
        background-color: white;
        border: none;
        padding: 6px 12px;
        font-size: 18px;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        color: #333;
        height: 100%;
        white-space: nowrap;
        width: 100%;
        max-width: 280px;
        margin: 5px auto 5px;
    }

    .rider-header-wrapper .rider-nav-menu li {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        transition: background 0.2s;
        border-radius: 6px;
        border-bottom: 1px solid #ddd;
    }

    .rider-header-wrapper .rider-nav-menu li:last-child {
        border-bottom: none;
    }

    .rider-header-wrapper .rider-nav-menu li a {
        font-size: 18px;
        text-align: center;
        padding: 12px;
        display: flex;
        align-items: center;
        gap: 12px;
        font-weight: bold;
    }

    .rider-header-wrapper .rider-nav-menu li a:hover {
        background-color: #ab7a44;
        color: #f4eddf;
    }

    .rider-header-wrapper .close-btn {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        background: none;
        border: none;
        cursor: pointer;
        z-index: 10001;
    }

    .rider-header-wrapper .close-btn img {
        width: 28px;
        height: 28px;
    }
}



/*
@media (max-width: 768px) {
    .rider-header-wrapper .close-btn {
        display: block;
    }
}

@media (min-width: 768px) {
    .rider-header-wrapper .close-btn {
        display: none !important;
    }
}
*/