@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;600&display=swap');

.unlink-success-container {
    background: #F4EDDF;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

/* 배경/글자색 - 역할별 */
.unlink-success-container.user,
.unlink-success-container.owner {
    background-color: #fef6ea;
    color: #5a3d21;
}

.unlink-success-container.rider {
    background-color: #f0f9ff;
    color: #1f3f66;
}

/* 버튼 공통 */
.unlink-success-container button {
    width: 411px;
    height: 60px;
    border-radius: 30px;
    background: #5A3D21;
    color: #fff;
    border: none;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-line: none;
}

/* 역할별 버튼 색상 */
.unlink-success-container.user button,
.unlink-success-container.owner button {
    background-color: #5A3D21;
}

.unlink-success-container.rider button {
    background-color: #010C22;
}

.unlink-success-container.user .unlink-big-text,
.unlink-success-container.owner .unlink-big-text {
    color: #5A3D21;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.unlink-success-container.rider .unlink-big-text {
    color: #010C22;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.unlink-success-container.user .unlink-text,
.unlink-success-container.owner .unlink-text {
    color: #5A3D21;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

.unlink-success-container.rider .unlink-text {
    color: #010C22;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}