.admin-change-role-container {
    text-align: center;
    background-color: #F4EDDF;
    height: auto;
    width: 600px;
    display: flex;
    justify-content: center;
    padding: 0 30px;
}

.admin-change-role-container .change-role-text {
    color: #5A3D21;
    font-size: 36px;
    font-weight: bold;
    margin: 30px;
}

.admin-change-role-container .box {
    background-color: #fff;
    border: 1px #5A3D21 solid;
}

.admin-change-role-container .info-text-big {
    font-size: 23px;
    color: #5A3D21;
    font-weight: bold;
    margin-top: 30px;
}

.admin-change-role-container .info-text {
    font-size: 17px;
    color: #5A3D21;
    margin-top: 5px;
}


.admin-change-role-container .changeRoleDesText {
    color: #3a2d22;
}

.admin-change-role-container .role-input-label {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 60px;
}

.admin-change-role-container .role-input-label label {
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.admin-change-role-container .role-input-label > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.admin-change-role-container .role-input-label input {
    appearance: none;
    margin-right: 8px;
    position: relative;
}
