.AlarmListRead { /*읽은 알람*/
    border:  1px solid #5A3D21 ;
    border-radius: 35px;
    margin: 20px;
    text-align: center;
    background-color: #B0A8A0;
    padding: 8px;

}

.AlarmListUnread { /*읽지 않은 알람*/
    border:  1px solid #5A3D21 ;
    border-radius: 35px;
    margin: 20px;
    text-align: center;
    background-color: #FAF1D0;
    padding: 8px;

}

.AlarmListRead:hover { /*알람 마우스 올릴 때 css*/
    cursor: pointer;
    background-color: #D2B595;
    border: 1px solid #D2B595;
}

.AlarmListUnread:hover { /*알람 마우스 올릴 때 css*/
    cursor: pointer;
    background-color: #D2B595;
    border: 1px solid #D2B595;
}

.NoAlarmList { /*알람 없을 때*/
    text-align: center;
    min-height: 70vh;
}

.AlarmDeleteContainer { /*버튼 위치*/
    text-align: right;
}

.AlarmDeleteBtn { /*전체 삭제 버튼*/
    border-radius: 10px;
    background-color: #F6B8A1;
    border: none;
    padding: 5px;
}

.AlarmListcontainer { /*알람 컨테이너*/
    max-width: 600px;
    width: 100%;
    margin: auto;
    background-color: #f8f1e4;
    padding: 16px;
    min-height: 70vh;
    height: auto;
}

.AllReadBtn { /* 모두 읽음 처리 버튼*/
    border-radius: 10px;
    background-color: lightblue;
    border: none;
    padding: 5px;
    margin-right: 15px;
}