.AdminChangeRoleContainer {
    text-align: center;
    background-color: #F4EDDF;
    min-height: 70vh;
}

.AdminChangeRoleContainer .changeRoleText{
    padding-top: 20px;
    color: #3c1e1e;
    margin-bottom: 20px;
}

.AdminChangeRoleContainer .changeRoleDesText {
    color: #3a2d22;
}

.roleInputLabel {
    display: inline-block;
    justify-content: center;
    padding: 40px;
    margin: 10px;
}

.roleInputLabel label {
    font-size: 20px;
    align-items: center;
}

.AdminChangeRoleContainer .saveBtn {
    border-radius: 5px;
    background-color: #AB7A44;
    width: 411px;
    height: 50px;
}