.admin-chattingroom-base {
    display: block;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    min-height: 500px;
    margin: 0 auto;
    background-color : #F4EDDF;
}

.admin-button-base {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.admin-chattingroom-list {
    display: block;

}

.admin-chattingroom-list-chat {
    display: block;
    margin: 0 50px 20px 50px;
    width : 500px;
    height: 75px;
    border-radius: 37px;
}

.admin-chattingroom-list-chat-img {
    position: absolute;
    width : 70px;
    border-radius: 50%;

}

.admin-chattingroom-list-chat-name {
    position : relative;
    left : 85px;
    margin: 0 0 3px 0;

    font-weight : bold;
    color : black;
    font-size : 12px;
}

.admin-chattingroom-list-chat-lastmessage {
    position : relative;
    left : 85px;
    margin: 0 0 3px 0;

    color : black;
}

.admin-chattingroom-list-chat-date {
    position : relative;
    left : 85px;
    margin: 0 0 3px 0;

    color : black;
    font-size : 10px;
}

.admin-chattingroom-btn-unchecked {
    background-color : #fff9d8;
}

.admin-chattingroom-btn-unchecked:hover {
    background-color : #fff9d8;
}

.admin-chattingroom-btn-checked {
    font-weight : bold;
}

.admin-chattingroom-btn-checked:hover {
    font-weight : bold;
}

@media (max-width: 480px) {
    .admin-chattingroom-base {
        max-width: 100%;
        background-color: #fff9d8;
    }

    .admin-button-base {
        max-width: 100%;
    }

    .admin-chattingroom-list {
        max-width: 100%;
    }
}