
/* 역할별 배경색 + 글자색 */
.info-correction-container.user,
.info-correction-container.owner {
    background-color: #fef6ea;
    color: #5a3d21;
}

.info-correction-container.rider {
    background-color: #f0f9ff;
    color: #1f3f66;
}

.user-order-background.user,
.user-order-background.owner {
    background-color: #fef6ea;
    color: #5a3d21;
}

.user-order-background.rider {
    background-color: #f0f9ff;
    color: #1f3f66;
}
.info-correction-title-center{
    font-size: 32px;
    font-weight: bold;
    color: #5A3D21;
    text-align: center;
    letter-spacing: -1.9px;
}
.info-correction-title-center.rider {
    color: #1f3f66;
}

.info-correction-hr {
    border: none;
    border-top: 2px #5a3d21 solid;
    margin: 30px 0;

}

.info-correction-hr.rider {
    border-top: 2px #1f3f66 solid;
}


/* 내부 폼 구조 */
.info-correction {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 24px;
}

.info-correction label {
    color: #5A3D21;
    font-size: 22px;
    font-weight: bold;
}

/* 역할별 label 색상 분기 추가 */
.info-correction-container.user .info-correction label,
.info-correction-container.owner .info-correction label {
    color: #5A3D21;
}
.info-correction-container.rider .info-correction label {
    color: #1f3f66; /*rider 전용 글자색 */
}


/* 입력창 스타일 */
.info-correction input[type="tel"] {
    padding: 12px;
    margin: 12px auto;
    font-size: 14px;
    display: block;
    box-sizing: border-box;
    border: 1px solid #5A3D21;
    height: 60px;
    width: 100%;
}


.info-correction-container.rider input[type="tel"] {
    border: 1px solid #1f3f66;  /* rider 전용 파란색 테두리 */
}

.info-correction input[type="tel"]::placeholder {
    color: #D2B595;
}

/* 역할별 placeholder 색상 분기 추가 */
.info-correction-container.user input::placeholder,
.info-correction-container.owner input::placeholder {
    color: #D2B595;
}
.info-correction-container.rider input::placeholder {
    color: #8daecf; /* rider placeholder 파란 계열 */
}


/* 버튼 공통 스타일 */
.submit-btn {
    width: 411px;
    height: 60px;
    border-radius: 30px;
    background: #5A3D21;
    color: #fff;
    border: none;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-line: none;
}

/* 역할별 버튼 배경색 */
.info-correction-container.user .submit-btn,
.info-correction-container.owner .submit-btn {
    background-color: #5A3D21;
}



.info-correction-container.rider .submit-btn {
    background-color: #1f3f66;
}

/* 버튼 hover 효과 (선택) */
.submit-btn:hover {
    opacity: 0.9;
}