@import url('https://fonts.googleapis.com/css2?family=Pretendard:wght@400;500;700&display=swap');

.store-main {
    width: 100%;
    min-height: calc(100vh - 330px);
    background-color: #F4EDDF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.store-main .store-status {
    width: 100%;
    background-color: #f0e6d6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 3px solid #d3b88c;

}

.store-status .status-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
}



.store-main  .status-badge {
    background-color: #a67c52;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 6px 14px;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    min-width: 65px;
}
.store-main  .weather-badge {
    background-color: #a67c52;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 6px 40px;
    border-radius: 25px;
    text-align: center;
    display: inline-block;
    min-width: 140px;
}

.store-main .status-box,
.store-main .manage-box {
    background-color: white;
    padding: 18px;
    border-radius: 12px;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.store-main .status-box:hover,
.store-main .manage-box:hover {
    background-color: #f5f5f5;
    transform: translateY(-3px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}


.store-main .store-management {
    width: 100%;
    flex: 1;
    background-color: #e6d5b8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.store-main .logout-container {
    text-align: center;
    margin-top: 20px;
}

.store-main .logout-btn {
    background-color: #a67c52;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 15px;
    width: 100%;
    border: none;
    font-size: 18px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.store-main .logout-btn:hover {
    background-color: #8c6239;
    transform: translateY(-3px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}


.store-main .manage-box {
    border: 2px solid #5A4B42;
    background-color: white;
    color: #5A4B42;
    font-size: 16px;
    padding: 12px;
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.3s;
    text-align: center;
    text-decoration: none;
}

.store-main .manage-box:hover {
    background-color: #d3b88c;
    border: 2px solid white;
    color: white;
}