<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="walking_beans.walking_beans_backend.mapper.AddressMapper">

    <!-- 모든 주소 조회 -->
    <select id="getAllAddresses">
        SELECT *
        FROM Address
    </select>


    <!-- ========= Leo ========= -->
    <!-- -->
    <select id="getUserMainAddress">
        SELECT A.address, A.address_latitude, A.address_longitude
        FROM address A
        JOIN orders O
        ON A.user_id = O.user_id
        WHERE O.order_id = #{orderId}
        AND A.user_id = #{userId}
        AND A.address_role = 1
    </select>

</mapper>