<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="walking_beans.walking_beans_backend.mapper.AlarmMapper">

    <!-- 알람 추가 -->
    <insert id="insertAlarm">
        INSERT INTO Alarms (user_id, alarm_role, alarm_sender_id, alarm_content, alarm_status, alarm_create_date)
        VALUES (#{userId}, #{alarmRole}, #{alarmSenderId}, #{alarmContent}, #{alarmStatus}, #{alarmCreateDate})
    </insert>

    <update id="updateLastMessage">
        UPDATE Message
        SET message_content = #{message}
        WHERE room_id = #{roomId}
    </update>

    <!-- 알람 리스트 가져오기 -->
    <select id="getUserAlarmList">
        SELECT *
        FROM Alarms
        WHERE user_id = #{userId}
    </select>
</mapper>