<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="walking_beans.walking_beans_backend.mapper.CartMapper">

    <!-- 장바구니 메뉴 정보 저장 -->

    <insert id="addToCart">
        <!-- Orders 테이블에 데이터 추가 -->
        INSERT INTO Orders (user_id, store_id, address_id, order_number, order_status, order_requests, order_total_price, order_create_date, order_modified_date)
        VALUES (
        #{user_id}, #{store_id}, #{address_id}, #{order_number}, #{order_status}, #{order_requests}, #{order_total_price}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);

        <!-- Carts 테이블에 데이터 추가 -->
        INSERT INTO Carts (option_id, order_id, store_id, user_id, cart_quantity, cart_create_date, cart_modified_date)
        VALUES (#{option_id},(SELECT LAST_INSERT_ID()), -- 방금 삽입한 Orders의 ID를 사용
        #{store_id}, #{user_id}, #{cart_quantity}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);
    </insert>

    <!-- 장바구니 메뉴 1개 삭제 -->
    <delete id="deleteToCart">
        DELETE FROM Carts
        WHERE cart_id = #{cartId}
    </delete>
</mapper>