<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="walking_beans.walking_beans_backend.mapper.DeliveryIncomeMapper">
    <select id="getDeliveryIncomeByRiderId">
        SELECT income_index, rider_id, order_id, income_amount, DATE_FORMAT(income_date, '%Y-%m-%d %W %p %h:%i') AS income_date
        FROM deliveryIncome
        WHERE rider_id = #{riderId}
        AND DATE_FORMAT(income_date, '%m') = #{todaysMonth}
          AND DATE_FORMAT(income_date, '%Y') = #{todaysYear}
        ORDER BY income_index DESC
    </select>

    <select id="getDeliveryIncomeByOrderId">
        SELECT *
        FROM deliveryIncome
        WHERE rider_id = #{riderId}
          AND order_id = #{orderId}
    </select>

    <insert id="insertDeliveryIncome">
        INSERT INTO deliveryIncome (rider_id, order_id, income_date, income_amount)
        VALUES (#{riderId}, #{orderId}, NOW(), #{incomeAmount})
    </insert>
</mapper>