<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="walking_beans.walking_beans_backend.mapper.MenuMapper">

    <!-- 메뉴 전체 검색 -->
    <select id="findAllMenu">
        SELECT *
        FROM MENU

    </select>

    <!-- 메뉴 검색 , keyword -->
    <select id="searchMenu">
        SELECT *
        FROM MENU
        WHERE  menu_name LIKE CONCAT('%',#{keyword},'%')
        or menu_description LIKE CONCAT('%',#{keyword},'%');
    </select>

    <!-- ID 로 메뉴 찾기 , long menuId-->
    <select id="findMenuById">
        SELECT *
        FROM MENU
        WHERE menu_id = #{menuId}

    </select>

    <!-- 가게에 속한 메뉴 찾기 -->
    <select id="findMenuByStoreId">
        SELECT *
        FROM MENU
        WHERE store_id = #{storeId}
    </select>

    <!-- 메뉴 수정하기 -->
    <update id="updateMenu">
        UPDATE Menu
        SET
            menu_name = #{menuName},
            menu_price = #{menuPrice},
            menu_category = #{menuCategory},
            menu_description = #{menuDescription},
            menu_picture_url = #{menuPictureUrl},
            menu_modified_date = NOW()
        WHERE menu_id = #{menuId}

    </update>

    <!-- 메뉴 추가하기 -->
    <insert id="addMenu">
        INSERT INTO Menu (
                          menu_id,
                          store_id,
                          user_id,
                          menu_price,
                          menu_picture_url,
                          menu_name,
                          menu_category,
                          menu_description,
                          menu_create_date,
                          menu_modified_date)
        VALUES
            (
             #{menuId},
             #{storeId},
             #{userId},
             #{menuPrice},
             #{menuPictureUrl},
             #{menuName},
             #{menuCategory},
             #{menuDescription},
             NOW(),
             NOW()
            )

    </insert>

    <!-- 메뉴 삭제하기 -->
    <delete id="deleteMenu">
        DELETE *
        FROM MENU
        WHERE menu_id = #{menuId}
    </delete>

    <!-- 주문내역 : 사용자가 선택한 메뉴 정보 가져오기 mapper 추가 필요
    <select id="getMenuByOrderId">
        SELECT m.menu_id,
               m.menu_name,
               m.menu_price,
               mo.option_id,
               mo.option_name,
               mo.option_price
        FROM MENU m
                 JOIN menuOption mo ON m.menu_id = mo.menu_id
        WHERE m.menu_id = #{menuId}
          AND mo.option_id IN (#{optionId})
    </select>
 -->
</mapper>