<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="walking_beans.walking_beans_backend.mapper.MenuMapper">

    <!-- 메뉴 전체 검색 -->
    <select id="findAllMenu">
        SELECT *
        FROM MENU
        WHERE is_deleted = 0
    </select>

    <!-- 메뉴 검색 , keyword -->
    <select id="searchMenu">
        SELECT *
        FROM MENU
        WHERE  menu_name LIKE CONCAT('%',#{keyword},'%')
        or menu_description LIKE CONCAT('%',#{keyword},'%');
        AND is_deleted = 0
    </select>

    <!-- ID 로 메뉴 찾기 , long menuId-->
    <select id="findMenuById">
        SELECT *
        FROM MENU
        WHERE menu_id = #{menuId}
        AND is_deleted = 0
    </select>

    <!-- 가게에 속한 메뉴 찾기 -->
    <select id="findMenuByStoreId">
        SELECT *
        FROM MENU
        WHERE store_id = #{storeId}
          AND is_deleted = 0
    </select>

    <!-- 메뉴 수정하기 -->
    <update id="updateMenu">
        UPDATE Menu
        SET
            menu_name = #{menuName},
            menu_price = #{menuPrice},
            menu_category = #{menuCategory},
            menu_description = #{menuDescription},
            menu_picture_url = #{menuPictureUrl},
            menu_modified_date = NOW()
        WHERE menu_id = #{menuId}
          AND is_deleted = 0

    </update>

    <!-- 메뉴 추가하기 -->
    <insert id="addMenu">
        INSERT INTO Menu (

                          store_id,
                          user_id,
                          menu_price,
                          menu_picture_url,
                          menu_name,
                          menu_category,
                          menu_description,
                          menu_create_date,
                          menu_modified_date)
        VALUES
            (

             #{storeId},
             #{userId},
             #{menuPrice},
             #{menuPictureUrl},
             #{menuName},
             #{menuCategory},
             #{menuDescription},
             NOW(),
             NOW()
            )

    </insert>

    <!--메뉴 약한 삭제-->
    <update id="softDeleteMenu">
        UPDATE menu
            SET is_deleted = 1
        WHERE menu_id = #{menuId}
    </update>

    <!--메뉴 약한 삭제 복구-->
    <update id="softRecoveryMenu">
        UPDATE menu
            SET is_deleted = 0
        WHERE menu_id = #{menuId}
    </update>

    <!-- 메뉴 삭제하기 -->
    <delete id="deleteMenu">
        DELETE *
        FROM MENU
        WHERE menu_id = #{menuId}
    </delete>

    <!-- 메인 메뉴 조회 -->
    <select id="findMainMenuByStoreId" resultType="Menu">
        SELECT m.menu_id, m.menu_name, m.menu_price, m.menu_picture_url
        FROM menu m
                 JOIN stores s ON m.menu_id = s.store_main_menu
        WHERE s.store_id = #{storeId}
          AND is_deleted = 0
    </select>
</mapper>