<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="walking_beans.walking_beans_backend.mapper.RiderReviewMapper">
    <select id="getRiderReviewRatingAverage">
        SELECT rider_review_rating
        FROM riderreview
        WHERE rider_id = #{riderId}
    </select>

    <insert id="insertRiderReview">
        INSERT INTO riderreview (rider_id, order_id, rider_review_rating)
        VALUES (#{riderId}, #{orderId},#{riderReviewRating});
    </insert>


</mapper>