<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="walking_beans.walking_beans_backend.mapper.UserMapper">


    <!-- 로그인해서 세션에 넣을 데이터 가져오기-->
    <select id="loginUser">
        SELECT user_role, user_name, user_email, user_id, user_date
        FROM users
        WHERE user_email = #{userEmail}
          AND user_password = #{userPassword}
    </select>

    <!-- 비밀번호 변경하기-->
    <update id="updatePw">
        Update users
        SET
            user_password = #{userPassword}
        WHERE user_email = #{userEmail}
    </update>

    <!-- 아이디 찾기-->
    <select id="findId">
        SELECT user_email
        FROM users
        WHERE user_name = #{userName}
          AND user_phone = #{userPhone}
    </select>

    <!--  소셜 회원가입 (userDate추가)-->
    <insert id="insertSocialUser">
        INSERT INTO users (user_role,user_email,user_password,user_name, user_phone, user_date)
        VALUES (#{userRole}, #{userEmail}, #{userPassword}, #{userName}, #{userPhone}, #{userDate})
    </insert>

    <!-- 유저 아이디로 정보 조회(로그인 차단 페이지, 알림리스트 사용)-->
    <select id="getUserInfoByIdForAlarms">
        SELECT user_role, user_name, user_date
        FROM users
        WHERE user_id = #{userId}
    </select>

    <!-- 유저 Date 업데이트 -->
    <update id="changeUserDate">
        UPDATE users
        SET user_date = #{userDate}
        WHERE user_email = #{userEmail}
    </update>

    <!-- 회원 가입 유무 확인 -->
    <select id="checkEmailExists">
        SELECT COUNT(*)
        FROM users
        WHERE user_email = #{userEmail}
    </select>

    <!-- 이메일로 유저 롤 변경하기 -->
    <update id="updateUserRole">
        UPDATE users
        SET user_role = #{userRole}
        WHERE user_email = #{userEmail}
    </update>

    <!-- 회원 정보 조회 -->
    <select id="selectUserInfo">

        SELECT user_id, user_name, user_email, user_phone, user_birthday, user_role,  user_picture_url
        FROM users
        WHERE user_id = #{userId}
    </select>

    <!-- 프로필 사진 변경 -->
    <update id="updateUserProfile">
        UPDATE users
        SET user_picture_url = #{userPictureUrl}
        WHERE user_id = #{userId}
    </update>




    <!-- 회원 정보 수정 -->

    <update id="updateUserInfo" >
        UPDATE users
        SET user_phone = #{userPhone}
        WHERE user_id = #{userId}
    </update>




    <!-- 회원탈퇴 -->

    <delete id="deleteUserAccount" >
        DELETE FROM users
        WHERE user_id = #{userId};
    </delete>

    <!--가게 가입시 유저역활 업데이트 -->
    <update id="updateUserRoleStore">
        UPDATE users
        SET user_role = #{userRole}
        WHERE user_id = #{userId}
    </update>

    <!-- user_role update -->
    <update id="updateUserRoleByUserId">
        UPDATE users
        SET user_role = #{userRole}
        WHERE user_id = #{userId}
    </update>

</mapper>

